{% extends "base.html" %}
{% load static %}

{% block header %}
<style>
.copyright{
  background-color: #3c3c3c;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.con {
  position: relative;
  text-align: center;
  color: white;
}

</style>

{% endblock %}
{% block content %}
{% include "navblog.html" %}

<div class="con">
    <img src="{% static 'blog/pic2.jpg' %}" style="width:100%;">
    <div class="center">
        <h1>DJANGO BLOG</h1>
    </div>
</div><br>



<div class="container">

    {% for blog in object_list %}
    <div class="row" >
        <div class="col-8">
            <h5>{{ blog.blog_title }} </h5>
            <p>{{ blog.blog_desc }}</p>
            {% static  blog.blog_pic  as pic %}

        </div>

        <div class="col-4">
            <a href="/blog/1">
            <img src="{{pic}}" class="align-self-center mr-3" alt="...">
                </a>
            {{blog.object}}
        </div>

    </div>
    <br></br>
    {% endfor %}

</div>
<!-- Copyright Section-->
<section class="copyright text-center text-white ">
    <div class="container"><small>Copyright © Django Lab 2020</small></div>
</section>

{% endblock %}
{% block footer %}


{% endblock %}