{% extends "base.html" %}
{% load static %}

{% block header %}
<style>
.copyright{
  background-color: #3c3c3c;
}
</style>
{% endblock %}
{% block content %}
<section >
    <div class="jumbotron jumbotron-fluid text-center" style ="background-color:#1ABC9C; color: white;">
        <div class="container">
            <h1 class="display-4">Django בלוג</h1>
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </div>
</section>


<div class="container">

    <div class="row">
        {% for blog in object_list %}
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{% static 'blog\2.jpg' %}" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ blog.blog_title }}</h5>
                        <p class="card-text">{{ blog.blog_text }}</p>
                    </div>
                    <a href="#" class="btn btn-link">המשך לקרוא</a>
                </div>
            </div>
        </div>
        <br></br>
        {% endfor %}
    </div>
</div>
    <!-- Copyright Section-->
        <section class="copyright text-center text-white ">
            <div class="container"><small>Copyright © Django Lab 2020</small></div>
        </section>

{% endblock %}
 {% block footer %}


 {% endblock %}